.classic {
    .menu {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        



        li {
            
            width: 32%;
            border-bottom:8px solid transparent;
            &:hover{
                background-color:$gray-100;
            }
        }

        .actived {
            border-color: $primary;
        }
    }


    a {
        padding: 24px 0px 16px;
        color: $dark;
        font-size: $font-basic*8;
        font-weight: 500;

        @include pad-small{
            font-size: $font-basic*4;
            padding:16px 0px 8px;
        }

        
    }


}

.opticalBanner, .sunglassesBanner {

    .bannerList{
        display: flex;
    }
    li {
        height: 296px;
        width: 50%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        @include pad-small{
            height: 136px;
        }

        &:first-child {
            background-image: url("../images/product-header-1.png");

            @include pad {
                background-image: url("../images/product-header-sm-1.png");
            }

            

        }

        &:last-child {
            background-image: url("../images/product-header-2.png");
            @include pad {
                background-image: url("../images/product-header-sm-2.png");
            }
        }
    }



    


}



.productDetail {
    text-align: center;
    

    h2 {
        font-size: $font-small*21;
        font-weight: 500;
        @include pad-small{
            font-size: $font-basic*6;
        }

        
    }

    h3 {
        font-size: $font-basic*8;
        font-weight: 400;
        @include pad-small{
            font-size: $font-basic*6;
        }
        
    }

    p {
        font-size: $font-basic*6;
        font-weight: 400;
    }
}

.itemList {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 32px;

    li {
        width: 23%;

        @include pad {
            width: 48%;
        }

        @include pad-small{
            width:100%;
        }
    }


    .detail {
        display: flex;
        justify-content: space-between;

    }

    .colorList {
        display: flex;
        gap: 8px;


    }

    .dark,
    .light {
        border-radius: 4px;
        width: 24px;
        height: 24px;
        cursor: pointer;

        &:hover {
            opacity: 0.7;
        }

    }

    .dark {
        background-color: #5F3E2D;

    }

    .light {
        background-color: #B75929;

    }
}

.price {
    color: $primary;
    font-weight: 500;
}


.page {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        border: 1px solid $gray-400;
        color: $gray-400;

        &:hover {

            background-color: $primary;
            color: #FFFFFF;

        }
    }

    li {

        

        &:first-child,
        &:last-child {
            a {
                padding: 9.5px 12px;
                font-size: 19px;
                font-weight: 400;
                font-family: 'Roboto', sans-serif;
                line-height: 29px;
                @include pad-small{
                    font-size:$font-basic*4;
                    padding:11.5px 13.5px;
                }
            }
        }

        &:not(:first-child):not(:last-child) {
            a {
                font-size: $font-small*9;
                padding: 10.5px 16px;
                font-weight: 400;
                border-left: none;
                line-height: 27px;
                @include pad-small{
                    font-size:$font-basic*4;
                    padding: 12px 15.5px;
                }
            }
        }

        &:last-child {
            a {
                border-left: none;
            }
        }


    }



}

.currentPage {
    a {
        color: #FFFFFF;
        background-color: $dark;


    }
}

.sunglassesBanner{
    li {

        &:first-child {
            background-image: url("../images/product-header-3.png");

            @include pad {
                background-image: url("../images/product-header-sm-3.png");
            }

            

        }

        &:last-child {
            background-image: url("../images/product-header-4.png");
            @include pad {
                background-image: url("../images/product-header-sm-4.png");
            }
        }
    }
}

.sunglassesList{
    li{
        width:32%;
        @include pad {
            width: 48%;
        }

        @include pad-small{
            width:100%;
        }

    }
}