.classic{
    .menu{
        display: flex;
        align-items: center;

        .actived{
            border-bottom: 8px solid $primary;
        }
    }


    a{
        padding: 12px 150px;
        color:$dark;
        font-size: $font-basic*4;
        font-weight: 500;

    }

    
}

.seriesBanner{
    display: flex;
    img{
        max-width: 50%;
    }
}

.productDetail{
    text-align: center;
    
    h2{
        font-size: $font-small*21;
        font-weight: 500;
    }

    h3{
        font-size: $font-basic*8;
        font-weight: 400;
    }

    p{
        font-size:$font-basic*6;
        font-weight: 400;
    }
}

.itemList{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:24px;
    margin-top: 32px;

    li{
        width: 23%;
    }


    .detail{
        display: flex;
        justify-content: space-between;

    }
    .colorList{
        display: flex;
        gap:8px;

     
    }

    .dark, .light{
        border-radius: 4px;
        width: 24px;
        height: 24px;
        cursor: pointer;
        &:hover{
            opacity: 0.7;
        }
        
    }

    .dark{
        background-color: #5F3E2D;
       
    }

    .light{
        background-color: #B75929;
       
    }
}

.textRed{
    color:$primary;
    font-weight: 500;
}



