/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
  line-height: 1.5; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

a {
  text-decoration: none;
  display: block; }

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px; }
  @media (max-width: 992px) {
    .container {
      max-width: 720px; } }
  @media (max-width: 576px) {
    .container {
      max-width: 500px; } }
  @media (max-width: 375px) {
    .container {
      max-width: 373px; } }

header {
  background-color: #AA0601; }
  header .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    header .navbar h1 {
      padding-top: 16px;
      padding-bottom: 15.43px; }
    header .navbar .logo {
      width: 80px;
      height: 48.57px;
      background-image: url("../images/logo-white.png");
      background-repeat: no-repeat;
      background-size: contain; }
    header .navbar .hamburgerMenu {
      display: none; }
      @media (max-width: 576px) {
        header .navbar .hamburgerMenu {
          display: block;
          font-size: 36px;
          color: #FFFFFF; } }
  header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 64px; }
    header .menu li {
      padding-top: 25px;
      padding-bottom: 25px; }
      header .menu li:hover {
        opacity: 0.7; }
    header .menu a {
      font-size: 20px;
      color: #FFFFFF; }
      @media (max-width: 767px) {
        header .menu a {
          font-size: 16px; } }
    @media (max-width: 576px) {
      header .menu {
        display: none;
        position: absolute; } }
  header .mobileMenu {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 80px;
    z-index: 10; }
    @media (max-width: 576px) {
      header .mobileMenu {
        display: block; }
        header .mobileMenu li {
          text-align: center; }
          header .mobileMenu li:hover {
            opacity: 0.7; }
          header .mobileMenu li a {
            background-color: #AA0601;
            color: #FFFFFF;
            font-size: 20px;
            padding-top: 25px;
            padding-bottom: 25px; }
            header .mobileMenu li a:hover {
              background-color: #650300;
              opacity: 0.8; } }

footer {
  background-color: #AA0601;
  color: #FFFFFF; }
  footer h4 {
    font-size: 36px;
    font-weight: 400; }
    @media (max-width: 767px) {
      footer h4 {
        font-size: 16px; } }
  footer a {
    color: #FFFFFF; }
  footer .navBottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start; }
    @media (max-width: 767px) {
      footer .navBottom {
        padding-top: 24px; } }
    footer .navBottom .menuBottom {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      gap: 48px; }
      @media (max-width: 767px) {
        footer .navBottom .menuBottom {
          display: none;
          position: absolute; } }
      footer .navBottom .menuBottom li {
        padding-top: 60.02px;
        padding-bottom: 44.98px; }
        footer .navBottom .menuBottom li:hover {
          opacity: 0.7; }
      footer .navBottom .menuBottom a {
        font-size: 16px;
        font-weight: 400; }
    footer .navBottom .tel {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      footer .navBottom .tel:hover {
        opacity: 0.7; }
      footer .navBottom .tel span {
        font-size: 36px;
        margin-right: 22px;
        font-size: 48px; }
        @media (max-width: 767px) {
          footer .navBottom .tel span {
            font-size: 16px; } }
    footer .navBottom .email {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding-bottom: 31px; }
      footer .navBottom .email:hover {
        opacity: 0.7; }
      footer .navBottom .email span {
        font-size: 36px;
        margin-right: 20px; }
        @media (max-width: 767px) {
          footer .navBottom .email span {
            font-size: 16px; } }
    footer .navBottom .media {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      gap: 32px;
      padding-top: 48px; }
      footer .navBottom .media li:hover {
        opacity: 0.7; }
      @media (max-width: 992px) {
        footer .navBottom .media {
          gap: 16px; } }
      @media (max-width: 767px) {
        footer .navBottom .media {
          padding: 0;
          gap: 8px; } }
      footer .navBottom .media a {
        width: 48px;
        height: 48px; }
        @media (max-width: 992px) {
          footer .navBottom .media a {
            width: 40px;
            height: 40px; } }
        @media (max-width: 767px) {
          footer .navBottom .media a {
            width: 24px;
            height: 24px; } }
  footer .copyRight {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-top: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: 1px solid #FFFFFF; }
    @media (max-width: 576px) {
      footer .copyRight {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: start;
        gap: 8px;
        padding-top: 15px;
        padding-bottom: 24px; } }
    footer .copyRight p {
      font-size: 16px;
      font-weight: 400; }
    footer .copyRight .privacy {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      gap: 48px; }
      @media (max-width: 576px) {
        footer .copyRight .privacy {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          gap: 8px; } }
      footer .copyRight .privacy li:hover {
        opacity: 0.7; }
      footer .copyRight .privacy a {
        font-size: 14px;
        font-weight: 400; }
        @media (max-width: 576px) {
          footer .copyRight .privacy a {
            font-size: 16px; } }

.banner {
  height: 100vh;
  background-image: url("../images/home-header.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  @media (max-width: 992px) {
    .banner {
      background-image: url("../images/home-header-sm.png"); } }
  @media (max-width: 767px) {
    .banner {
      height: 396px; } }
  .banner .solgan {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #650300;
    height: 100%; }
    .banner .solgan p {
      font-size: 36px;
      font-weight: 400; }
      @media (max-width: 767px) {
        .banner .solgan p {
          font-size: 16px; } }
    .banner .solgan h2 {
      font-size: 64px;
      font-weight: 700; }
      @media (max-width: 767px) {
        .banner .solgan h2 {
          font-size: 24px; } }
  .banner .btn {
    background-color: #AA0601;
    padding: 5.5px 12px;
    border: 2px solid transparent;
    margin-top: 4px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500; }
    @media (max-width: 992px) {
      .banner .btn {
        margin-top: 10px; } }
    .banner .btn:hover {
      background-color: #FFFFFF;
      border: 2px solid #AA0601;
      color: #AA0601; }

.subTitle {
  text-align: center;
  font-size: 48px;
  color: #650300;
  font-weight: 700; }
  @media (max-width: 576px) {
    .subTitle {
      font-size: 24px; } }

.listTitle {
  font-size: 48px;
  font-style: italic;
  font-weight: 900;
  color: #AA0601; }

.mt-1 {
  margin-top: 8px; }

.mt-6 {
  margin-top: 48px; }

.pb-2 {
  padding-bottom: 80px; }
  @media (max-width: 576px) {
    .pb-2 {
      padding-bottom: 40px; } }

.pt-2 {
  padding-top: 80px; }
  @media (max-width: 576px) {
    .pt-2 {
      padding-top: 40px; } }

.introduce {
  background-color: #FBF2F2; }

.serviceList {
  margin-top: 32.33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #650300; }
  @media (max-width: 992px) {
    .serviceList {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
  .serviceList li {
    width: 23%; }
    @media (max-width: 992px) {
      .serviceList li {
        width: 48%; } }
    @media (max-width: 576px) {
      .serviceList li {
        width: 100%; } }
    .serviceList li span {
      font-size: 84px; }
    .serviceList li h3 {
      font-size: 24px;
      font-weight: 700;
      margin-top: 24px; }
    .serviceList li p {
      font-size: 16px;
      font-weight: 400;
      text-align: left;
      color: #000000; }

@media (max-width: 992px) {
  .product .container {
    max-width: 336px; } }

.productList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 48px; }
  @media (max-width: 992px) {
    .productList {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
  @media (max-width: 576px) {
    .productList {
      margin-top: 24px; } }
  .productList li {
    width: 33%;
    text-align: center; }
    @media (max-width: 992px) {
      .productList li {
        width: 100%; } }

.cobranding {
  background-image: url("../images/index-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  .cobranding h2 {
    color: #FFFFFF; }

.cobrandList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 48px; }
  @media (max-width: 992px) {
    .cobrandList {
      row-gap: 24px; } }
  @media (max-width: 576px) {
    .cobrandList {
      margin-top: 24px; } }
  .cobrandList li {
    width: 50%;
    background-color: #FFFFFF;
    text-align: center;
    padding-bottom: 8px;
    border: 0.5px solid #707070; }
    @media (max-width: 992px) {
      .cobrandList li {
        width: 100%; } }

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
  margin-top: 48px; }
  @media (max-width: 576px) {
    .comment {
      margin-top: 24px;
      gap: 16px; } }
  .comment li {
    width: 23%;
    -webkit-box-shadow: 0px 2px 6px #00000029;
            box-shadow: 0px 2px 6px #00000029;
    border-radius: 4px; }
    @media (max-width: 992px) {
      .comment li {
        width: 48%; } }
    @media (max-width: 576px) {
      .comment li {
        width: 100%; } }
  .comment p {
    font-size: 16px;
    font-weight: 400; }
  .comment .textArea {
    height: 205px;
    padding: 16px;
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    border-color: #DEE2E6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .comment .textArea span {
      display: inline-block;
      font-size: 14px;
      font-weight: 400;
      color: #707070;
      margin-top: 72px; }

.contact {
  background-color: #FBF2F2; }
  .contact .container {
    text-align: left;
    max-width: 636px;
    margin: 0 auto; }
    @media (max-width: 992px) {
      .contact .container {
        max-width: 576px; } }
    .contact .container h3 {
      margin-bottom: 48px; }
    .contact .container p {
      font-size: 20px;
      font-weight: 400; }
      @media (max-width: 576px) {
        .contact .container p {
          font-size: 16px; } }
  .contact form {
    margin-top: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .contact form .btn {
      font-size: 16px;
      font-weight: 700;
      color: #FFFFFF;
      background-color: #AA0601;
      padding: 16px 136px;
      padding-bottom: 16px;
      text-align: center;
      -ms-flex-item-align: center;
          align-self: center;
      margin-top: 48px;
      border: 2px solid transparent; }
      .contact form .btn:hover {
        background-color: #FFFFFF;
        border: 2px solid #AA0601;
        color: #AA0601; }
  .contact label {
    margin-bottom: 8px; }
  .contact input,
  .contact textarea {
    margin-bottom: 16px;
    padding: 6px 12px;
    font-size: 16px;
    border: 1px solid;
    border-color: #000000;
    background-color: #FBF2F2; }
  .contact textarea {
    height: 136px; }
  .contact .checkBox input {
    padding: 0;
    margin: 0 4px 0 0; }
  .contact .checkBox label {
    margin: 0; }

.classic .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center; }
  .classic .menu li {
    width: 32%;
    border-bottom: 8px solid transparent; }
    .classic .menu li:hover {
      background-color: #DEE2E6; }
  .classic .menu .actived {
    border-color: #AA0601; }

.classic a {
  padding: 24px 0px 16px;
  color: #000000;
  font-size: 32px;
  font-weight: 500; }
  @media (max-width: 576px) {
    .classic a {
      font-size: 16px;
      padding: 16px 0px 8px; } }

.opticalBanner .bannerList, .sunglassesBanner .bannerList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.opticalBanner li, .sunglassesBanner li {
  height: 296px;
  width: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  @media (max-width: 576px) {
    .opticalBanner li, .sunglassesBanner li {
      height: 136px; } }
  .opticalBanner li:first-child, .sunglassesBanner li:first-child {
    background-image: url("../images/product-header-1.png"); }
    @media (max-width: 992px) {
      .opticalBanner li:first-child, .sunglassesBanner li:first-child {
        background-image: url("../images/product-header-sm-1.png"); } }
  .opticalBanner li:last-child, .sunglassesBanner li:last-child {
    background-image: url("../images/product-header-2.png"); }
    @media (max-width: 992px) {
      .opticalBanner li:last-child, .sunglassesBanner li:last-child {
        background-image: url("../images/product-header-sm-2.png"); } }

.productDetail {
  text-align: center; }
  .productDetail h2 {
    font-size: 42px;
    font-weight: 500; }
    @media (max-width: 576px) {
      .productDetail h2 {
        font-size: 24px; } }
  .productDetail h3 {
    font-size: 32px;
    font-weight: 400; }
    @media (max-width: 576px) {
      .productDetail h3 {
        font-size: 24px; } }
  .productDetail p {
    font-size: 24px;
    font-weight: 400; }

.itemList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
  margin-top: 32px; }
  .itemList li {
    width: 23%; }
    @media (max-width: 992px) {
      .itemList li {
        width: 48%; } }
    @media (max-width: 576px) {
      .itemList li {
        width: 100%; } }
  .itemList .detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .itemList .colorList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 8px; }
  .itemList .dark,
  .itemList .light {
    border-radius: 4px;
    width: 24px;
    height: 24px;
    cursor: pointer; }
    .itemList .dark:hover,
    .itemList .light:hover {
      opacity: 0.7; }
  .itemList .dark {
    background-color: #5F3E2D; }
  .itemList .light {
    background-color: #B75929; }

.price {
  color: #AA0601;
  font-weight: 500; }

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .page a {
    border: 1px solid #555555;
    color: #555555; }
    .page a:hover {
      background-color: #AA0601;
      color: #FFFFFF; }
  .page li:first-child a, .page li:last-child a {
    padding: 9.5px 12px;
    font-size: 19px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    line-height: 29px; }
    @media (max-width: 576px) {
      .page li:first-child a, .page li:last-child a {
        font-size: 16px;
        padding: 11.5px 13.5px; } }
  .page li:not(:first-child):not(:last-child) a {
    font-size: 18px;
    padding: 10.5px 16px;
    font-weight: 400;
    border-left: none;
    line-height: 27px; }
    @media (max-width: 576px) {
      .page li:not(:first-child):not(:last-child) a {
        font-size: 16px;
        padding: 12px 15.5px; } }
  .page li:last-child a {
    border-left: none; }

.currentPage a {
  color: #FFFFFF;
  background-color: #000000; }

.sunglassesBanner li:first-child {
  background-image: url("../images/product-header-3.png"); }
  @media (max-width: 992px) {
    .sunglassesBanner li:first-child {
      background-image: url("../images/product-header-sm-3.png"); } }

.sunglassesBanner li:last-child {
  background-image: url("../images/product-header-4.png"); }
  @media (max-width: 992px) {
    .sunglassesBanner li:last-child {
      background-image: url("../images/product-header-sm-4.png"); } }

.sunglassesList li {
  width: 32%; }
  @media (max-width: 992px) {
    .sunglassesList li {
      width: 48%; } }
  @media (max-width: 576px) {
    .sunglassesList li {
      width: 100%; } }

.location {
  padding-top: 96px;
  padding-bottom: 80px; }
  @media (max-width: 992px) {
    .location {
      padding-top: 80px; } }
  @media (max-width: 576px) {
    .location {
      padding-top: 40px;
      padding-bottom: 64px; } }
  .location .title {
    border-left: 8px solid #9F1213;
    padding-left: 16px;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 32px; }
    @media (max-width: 576px) {
      .location .title {
        font-size: 24px;
        margin-bottom: 24px; } }
  .location .select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 40px; }
    @media (max-width: 576px) {
      .location .select {
        margin-bottom: 24px; } }
    .location .select label {
      font-size: 24px;
      font-weight: 400;
      margin-right: 16px; }
      @media (max-width: 576px) {
        .location .select label {
          font-size: 16px;
          margin-right: 8px; } }
    .location .select select {
      width: 304px;
      font-size: 18px;
      font-weight: 400;
      padding: 6px 12px;
      color: #495057; }
      @media (max-width: 576px) {
        .location .select select {
          width: 276px; } }

.stores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
  color: #212529; }
  .stores a {
    color: #212529; }
  .stores .storesList {
    width: 32%; }
    @media (max-width: 992px) {
      .stores .storesList {
        width: 48%; } }
    @media (max-width: 576px) {
      .stores .storesList {
        width: 100%; } }
    .stores .storesList h3 {
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 24px;
      font-size: 24px;
      font-weight: 400;
      border: 1px solid #00000020; }
  .stores .detail {
    border: 1px solid #00000020;
    border-top: none;
    padding: 16px 24px; }
    .stores .detail span {
      margin-right: 12px; }
    .stores .detail p {
      font-size: 20px;
      font-weight: 400; }
    .stores .detail li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      gap: 8px;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
  .stores .btn a {
    color: #FFFFFF;
    background-color: #000000;
    text-align: center;
    padding: 16px 0;
    font-size: 19px;
    font-weight: 400; }
    .stores .btn a:hover {
      opacity: 0.7; }
  .stores .storeMap {
    width: 38%; }
    @media (max-width: 992px) {
      .stores .storeMap {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 24px; }
        .stores .storeMap img {
          height: 100%; }
        .stores .storeMap .storeImage, .stores .storeMap .storeInfo {
          width: 50%; } }
    @media (max-width: 576px) {
      .stores .storeMap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 0; }
        .stores .storeMap .storeImage, .stores .storeMap .storeInfo {
          width: 100%; } }
  .stores .map {
    width: 58%; }
    .stores .map img {
      height: 100%; }
    @media (max-width: 992px) {
      .stores .map {
        width: 100%; } }

/*# sourceMappingURL=all.css.map */
